In [5]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
import numpy as np
import pandas as pd

/Users/jianichen1/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.

In [3]:
def geolocate(city=None, country=None):
    '''
    Inputs city and country, or just country. Returns the lat/long coordinates of 
    either the city if possible, if not, then returns lat/long of the center of the country.
    '''
    
    # If the city exists,
    if city != None:
        # Try
        try:
            # To geolocate the city and country
            loc = geolocator.geocode(str(city + ',' + country))
            # And return latitude and longitude
            return (loc.latitude, loc.longitude)
        # Otherwise
        except:
            # Return missing value
            return np.nan
    # If the city doesn't exist
    else:
        # Try
        try:
            # Geolocate the center of the country
            loc = geolocator.geocode(country)
            # And return latitude and longitude 
            return (loc.latitude, loc.longitude)
        # Otherwise
        except:
            # Return missing value
            return np.nan

In [4]:
# Geolocate just a country
geolocate(country='USA')

(39.7837304, -100.4458825)

In [8]:
metadata=pd.read_csv("metadata.csv")
meta_country=metadata.groupby(['country']).count()
meta_country

,strain,virus,accession,date,Geo_Location,db,segment,species,host,authors,publications
country,,,,,,,,,,,
Australia,2,2,2,2,2,2,2,2,2,2,0
Bangladesh,2,2,2,2,2,2,2,2,2,2,2
Brazil,1,1,1,1,1,1,1,1,1,1,0
Bulgaria,1,1,1,1,1,1,1,1,1,1,1
Burkina Faso,3,3,3,3,3,3,3,3,3,3,3
China,230,230,230,230,230,230,230,230,204,230,67
Cote d'Ivoire,9,9,9,9,9,9,9,9,9,9,9
Egypt,4,4,4,4,4,4,4,4,4,4,3
Ethiopia,6,6,6,6,6,6,6,6,6,6,4
Finland,1,1,1,1,1,1,1,1,1,1,0
France,15,15,15,15,15,15,15,15,15,15,1
Germany,4,4,4,4,4,4,4,4,4,4,3
Hong Kong,13,13,13,13,13,13,13,13,13,13,1
India,2,2,2,2,2,2,2,2,2,2,0
Israel,1,1,1,1,1,1,1,1,1,1,0
Italy,4,4,4,4,4,4,4,4,4,4,4
Japan,73,73,73,73,73,73,73,73,6,73,3
Jordan,26,26,26,26,26,26,26,26,26,26,3
Kenya,7,7,7,7,7,7,7,7,7,7,5
Malaysia,16,16,16,16,16,16,16,16,16,16,16
Mexico,1,1,1,1,1,1,1,1,1,1,0
Morocco,2,2,2,2,2,2,2,2,2,2,2
Nepal,1,1,1,1,1,1,1,1,1,1,1
Nigeria,14,14,14,14,14,14,14,14,14,14,14
Oman,4,4,4,4,4,4,4,4,4,4,0
Qatar,4,4,4,4,4,4,4,4,4,4,4
Saudi Arabia,295,295,295,295,295,295,295,295,292,295,68
South Africa,2,2,2,2,2,2,2,2,2,2,2
South Korea,40,40,40,40,40,40,40,40,40,40,26
Spain,5,5,5,5,5,5,5,5,5,5,0
Sweden,1,1,1,1,1,1,1,1,1,1,0
Taiwan,7,7,7,7,7,7,7,7,7,7,0
Thailand,2,2,2,2,2,2,2,2,2,2,1
USA,329,329,329,329,329,329,329,329,244,329,68
Uganda,1,1,1,1,1,1,1,1,1,1,0
United Arab Emirates,177,177,177,177,177,177,177,177,177,177,170
United Kingdom,11,11,11,11,11,11,11,11,9,11,3
Viet Nam,13,13,13,13,13,13,13,13,13,13,0

In [9]:
# Reset the index of dataframe
meta_country = meta_country.reset_index()
meta_country.head()

,country,strain,virus,accession,date,Geo_Location,db,segment,species,host,authors,publications
0,Australia,2,2,2,2,2,2,2,2,2,2,0
1,Bangladesh,2,2,2,2,2,2,2,2,2,2,2
2,Brazil,1,1,1,1,1,1,1,1,1,1,0
3,Bulgaria,1,1,1,1,1,1,1,1,1,1,1
4,Burkina Faso,3,3,3,3,3,3,3,3,3,3,3

In [12]:
country = meta_country['country'].tolist()
country[1]

'Bangladesh'

In [16]:
## read a list of country and printout the lat and longs
# getting length of list 
length = len(country) 
   
# Iterating the index 
# same as 'for i in range(len(list))' 
for i in range(length): 
    print(country[i]+ "\t" + str(geolocate(country= country[i])))

Australia	(-24.7761086, 134.755)
Bangladesh	(24.4768783, 90.2932426)
Brazil	(-10.3333333, -53.2)
Bulgaria	(42.6073975, 25.4856617)
Burkina Faso	(12.0753083, -1.6880314)
China	(35.000074, 104.999927)
Cote d'Ivoire	(7.9897371, -5.5679458)
Egypt	(26.2540493, 29.2675469)
Ethiopia	(10.2116702, 38.6521203)
Finland	(63.2467777, 25.9209164)
France	(46.603354, 1.8883335)
Germany	(51.0834196, 10.4234469)
Hong Kong	(22.2793278, 114.1628131)
India	(22.3511148, 78.6677428)
Israel	(31.5313113, 34.8667654)
Italy	(42.6384261, 12.674297)
Japan	(36.5748441, 139.2394179)
Jordan	(31.1667049, 36.941628)
Kenya	(1.4419683, 38.4313975)
Malaysia	(4.5693754, 102.2656823)
Mexico	(19.4326296, -99.1331785)
Morocco	(31.1728205, -7.3362482)
Nepal	(28.1083929, 84.0917139)
Nigeria	(9.6000359, 7.9999721)
Oman	(21.0000287, 57.0036901)
Qatar	(25.3336984, 51.2295295)
Saudi Arabia	(25.6242618, 42.3528328)
South Africa	(-28.8166236, 24.991639)
South Korea	(36.638392, 127.6961188)
Spain	(39.3262345, -4.8380649)
Sweden	(59.6749712, 14.5208584)
Taiwan	(23.9739374, 120.9820179)
Thailand	(14.8971921, 100.83273)
USA	(39.7837304, -100.4458825)
Uganda	(1.5333554, 32.2166578)
United Arab Emirates	(24.0002488, 53.9994829)
United Kingdom	(54.7023545, -3.2765753)
Viet Nam	(13.2904027, 108.4265113)