In [1]:
from Bio import SeqIO
import os,sys
import pandas as pd

In [41]:
## parse the state file to fasta
S =  pd.read_csv("S.fasta.state",sep='\t',skiprows=(0,1,2,3,4,5,6,7))
#S = S.replace(to_replace ='Node', value = '', regex = True) 
S2=S.pivot(index='Node', columns='Site', values='State')
df.reset_index()

      index seq_id location mutate ref
0         1   1062      293      T   C
1         2   1063     2367      T   C
2         3   1064     2367      T   C
3         4   1065     2367      T   C
4         5   1066     2367      T   C
...     ...    ...      ...    ...  ..
4059   4060   5203     2763      G   A
4060   4061   5204     2763      G   A
4061   4062   5205      349      T   C
4062   4063   5206     1558      T   G
4063   4064   5207     1146      T   G

[4064 rows x 5 columns]

In [42]:
#S2['sequennce'] = pd.Series(S2.fillna('').values.tolist()).str.join('')
S2['new'] = S2.astype(str).values.sum(axis=1)

In [43]:
S2.reset_index()

Site,Node,1,2,3,4,5,6,7,8,9,...,3814,3815,3816,3817,3818,3819,3820,3821,3822,new
0,Node1,A,T,G,T,T,T,G,T,T,...,T,A,C,A,C,A,T,A,A,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
1,Node10,A,T,G,T,T,T,G,T,T,...,T,A,C,A,C,A,T,A,A,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
2,Node100,A,T,G,T,T,T,G,T,T,...,T,A,C,A,C,A,T,A,A,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
3,Node1000,A,T,G,T,T,T,G,T,T,...,T,A,C,A,C,A,T,A,A,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
4,Node1001,A,T,G,T,T,T,G,T,T,...,T,A,C,A,C,A,T,A,A,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5202,Node995,A,T,G,T,T,T,G,T,T,...,T,A,C,A,C,A,T,A,A,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
5203,Node996,A,T,G,T,T,T,G,T,T,...,T,A,C,A,C,A,T,A,A,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
5204,Node997,A,T,G,T,T,T,G,T,T,...,T,A,C,A,C,A,T,A,A,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
5205,Node998,A,T,G,T,T,T,G,T,T,...,T,A,C,A,C,A,T,A,A,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
5206,Node999,A,T,G,T,T,T,G,T,T,...,T,A,C,A,C,A,T,A,A,ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...

In [44]:
S_fasta= S2.filter(['Node','new'], axis=1)
S_fasta

Site                                                    new
Node
Node1     ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
Node10    ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
Node100   ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
Node1000  ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
Node1001  ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
...                                                     ...
Node995   ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
Node996   ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
Node997   ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
Node998   ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
Node999   ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...

[5207 rows x 1 columns]

In [27]:
S_fasta.to_csv("temp.tab", sep="\t",index = True,header=False)
## covert csv to fasta
S_fasta = SeqIO.parse("temp.tab", "tab")
SeqIO.write(S_fasta, "S_astr.fasta", "fasta")

5207

In [13]:
S_fasta

Site                                                new
Node
1     ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
10    ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
100   ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
1000  ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
1001  ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
...                                                 ...
995   ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
996   ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
997   ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
998   ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...
999   ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTCTCTAGTCAGTGTG...

[5207 rows x 1 columns]

In [5]:
## S2 to fasta?
S3=S.pivot(index='Site', columns='Node', values='State')
S3

Node,1,10,100,1000,1001,1002,1003,1004,1005,1006,...,990,991,992,993,994,995,996,997,998,999
Site,,,,,,,,,,,,,,,,,,,,,
1,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
2,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
3,G,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G
4,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
5,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3818,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
3819,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
3820,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
3821,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
3822,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A

In [7]:
#seq_records = SeqIO.parse("S_astr.fasta", 'fasta')
seq_records = SeqIO.parse("S_astr_protein.fasta", 'fasta')
df = pd.DataFrame(columns=['seq_id','location','mutate','ref'])
n=0
#refseq_records = SeqIO.parse("test_ref.fasta", 'fasta')
#refseq_record =next(refseq_records)
refseq_record =next(seq_records)
for seq_record in seq_records:
    for i in range(0, len(refseq_record)):
        nt1 = refseq_record[i]
        nt2 = seq_record[i]
        if nt1 != nt2:
            n=n+1
            df.loc[n, ['seq_id']] = seq_record.id
            df.loc[n, ['location']] = i+1
            df.loc[n, ['mutate']] = nt2
            df.loc[n, ['ref']] = nt1
            #print(seq_record.id, i+1, nt2, nt1)

In [8]:
df

     seq_id location mutate ref
1      1062       98      F   S
2      1092        8      V   L
3      1093        8      V   L
4      1094        8      V   L
5      1095        8      V   L
...     ...      ...    ...  ..
3622   5198      614      G   D
3623   5199      614      G   D
3624   5200      614      G   D
3625   5202      247      R   S
3626   5206      520      S   A

[3626 rows x 4 columns]

In [20]:
df.groupby(['location','mutate',"ref"]).size()

location  mutate  ref
5         F       L      27
8         V       L      11
21        I       R       1
29        I       T       5
49        Y       H       8
                         ..
1229      I       M       3
1237      I       M       3
1252      F       S       1
1260      N       D       2
1263      L       P      22
Length: 89, dtype: int64

In [19]:
sum.to_csv("S_pro_mutation",index = False)